<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block htmlPageTitle %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('core/images/crm_small_logo.png') }}">

        {% block headerStylesheets %}{% endblock %}

        {% block headerJavascripts %}
        {% endblock %}
    </head>
    <body {% block htmlBodyProperties %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block bodyJavascripts %}{% endblock %}
    </body>
</html>
